{% extends 'base.html' %}
{% block content %}
<h1>Product Types</h1>
<table class='table'>
 <tr>
     <th>Name</th>
     <th>Description</th>
 </tr>
 {% for t in type_list %}
   <tr>
       <td>{{ t.typename }}</td>
       <td>{{ t.typedescription }}</td>
   </tr>

 {% endfor %}


</table>

<h2>Products</h2>
<table class="table">
  <tr>
      <th>Name</th>
      <th>Type</th>
  </tr>
  {% for p in products_list %}
    <tr>
        <td>{{ p.productname }}</td>
        <td> {{p.producttype }}</td>
    </tr>
    {% endfor %}

</table>
{% endblock %}s

<h2>Products</h2>
<table class="table">
  <tr>
      <th>Name</th>
      <th>Type</th>
  </tr>
  {% for p in products_list %}
    <tr>
        <td><a href="{% url 'productdetails' id=p.id %}">{{ p.productname }}</a></td>
        <td> {{p.producttype }}</td>
    </tr>
    {% endfor %}

</table>

<h2>{{ prod.productname }}</h2>
<p>Product Type: {{ prod.producttype }} </p>
<p>Added by: {{ prod.user }}</p>
<p>Entry Date: {{ prod.productentrydate }}</p>
<p>URL: {{ prod.producturl }}</p>
<p>Description: {{ prod.productdescription }}</p>
<p>Price: {{ prod.productprice }}</p>
<p>Member discount: {{ discount }}</p>
<p>No. Of Reviews: {{ reviews }}</p>
